################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GD.BE/GD.API/bin/Debug/net6.0
