################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GD.BE/GD.API/bin
/GD.BE/GD.API/obj
*.exe
/GD.BE/GD.Conventions/obj
/GD.BE/GD.Data/bin
/GD.BE/GD.Data/obj
/GD.BE/GD.Entity/bin

/GD.BE/GD.Conventions/bin/Debug/net6.0
/GD.BE/GD.Entity/obj/Debug/net6.0
